// jquery
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
// Bootstap
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

//bootstrap style
link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")

// controller
script(src="/js/controller.js")
