doctype strict
html(xmlns="http://www.w3.org/1999/xhtml", lang="no", xmlns:v="urn:schemas-microsoft-com:vml")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta( name="viewport", content="width=device-width, initial-scale=1")
    // angular
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js")

    //script(src="js/auth/jso.js")
    script(src="/js/auth/connect_auth.js")
